body{
    height: 97vh;
    width: 98vw;
    display: flex;
}
*{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
title{
    display: none;
}
h1{
    flex-direction: row;
    display: flex;
}
img{
    height: 13vh;
    display: flex;
}
a{
    display: flex;
    color: white;
    background-color: #FF69B4;
    text-decoration: none;
    border-radius: 5%;
    padding: 5px;
}