*{
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
    transition: all 0.2s ease;
}
title{
    display: none;
}
.menu{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
body{
    overflow-x: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #800;
    color: #fff;
    flex-direction: row;
}
.logoImage{
    background-image: url("../images/icon.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    border-radius: 50%;
}
.logo{
    gap: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.logoName{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    background-color: #800;
    color: #fff;
    justify-content: space-between;
    padding: 20px 0;
}
svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
.moon:active{
    opacity: 0.5;
}
.sun:active{
    opacity: 0.5;
}
.moon{
    display: none;
}
.download{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #800;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.download:hover{
    opacity: 0.8;
    box-shadow: 0 0 20px #333;
}
.download:active{
    opacity: 1;
    box-shadow: 0;
}
main{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}
.carrossel{
    margin-bottom: 80px;
    background-color: #444;
    width: 98vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
}
.copy, .managers, .creators{
    margin-left: 10px;
}
.descriptionTitle{
    color: #fff ;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}
.description{
    margin-bottom: 50px;
    border-radius: 1%;
    padding: 20px;
    padding-top: 0;
    box-shadow: 0 0 10px #333;
    background-color: #444;
    width: 75vw;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.theme{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuActive{
    background-color: #fff;
    color: #800;
}
.menu a{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
nav{
    height: 100%;
}
.menu a:hover{
    background-color: #fff;
    color: #800;
}
.areas div{
    cursor: pointer;
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: #800;
    color: #fff;
    border-radius: 5%;
}
.comunityDesc{
    margin: 50px;
    border-radius: 1%;
    padding: 20px;
    box-shadow: 0 0 10px #333;
    background-color: #444;
    width: 75vw;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.comunityTitle{
    color: #fff ;
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.areas{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.groupsImage{
    background-image: url("../images/Grupo.png");
}
.worldImage{
    background-image: url("../images/Mundo.png");
}
.friendsImage{
    background-image: url("../images/Amigo.png");
}
.areas div div{
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}
.menuMobile{
    display: none;
}
.menuMobileOpen{
    display: none;
}
.sunMobile{
    display: none;
}
.moonMobile{
    display: none;
}
.seta:active{
    opacity: 0.5;
}
.wikiTitle{
    color: #fff ;
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.wikiDesc{
    margin: 50px;
    border-radius: 1%;
    padding: 20px;
    box-shadow: 0 0 10px #333;
    background-color: #444;
    width: 75vw;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.wikiAreas{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 60px;
}
.wikiAreas div{
    width: 800px;
    height: 150px;
}
.wikiAreas div:hover{
    opacity: 0.9;
    box-shadow: 0 0 20px #333;
}

.wikiAreas div:active{
    opacity: 0.6;
}






@media (max-width:450px) and (max-height:900px){
    *{
        transition:all 0.05s ease;
    }
    .menuMobile{
        display: block;
    }
    .menu{
        display: none;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoImage{
        width: 65px;
        height: 65px;
    }
    .logoName div{
        font-size: 23px;
    }
    .ninguem{
        display: none;
    }
    body{
        overflow-x: hidden
    }
    .menuMobileOpen{
        display: none;
        flex-direction: column;
    }
    .menuMobileItem{
        padding: 15px 10px;
        background-color: #800;
        color: #fff;
        border-bottom: 1px solid #444;
        border-top: 1px solid #444;
        cursor: pointer;
    }
    .menuActive{
        background-color: #fff;
        color: #800;
    }
    .menuMobileItem:active{
        background-color: #fff;
        color: #800;
    }
    .menuMobileOthers{
        background-color: #800;
        display: flex;
        justify-content: flex-end;
        padding: 10px 10px;
        border-top: 1px solid #444;
        border-bottom: 2px solid #000;

    }
    .theme{
        display: flex;
        justify-content: flex-start;
        flex-direction:row-reverse ;
        width: 100%;
    }
    .sunMobile{
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .moonMobile{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .moonMobile:active{
        opacity: 0.5;
    }
    .sunMobile:active{
        opacity: 0.5;
    }
    .carrossel{
        height: 200px;
        padding: 0;
    }
}